# Servidor
PORT=3000
NODE_ENV=development

# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=
DB_DATABASE=medicalsys

# JWT
JWT_SECRET=
JWT_EXPIRATION=1h

CLOUDINARY_CLOUD_NAME=gxgxvxrh
CLOUDINARY_API_KEY=226348664532376
CLOUDINARY_API_SECRET=RQ9XWR--0NcDA8uNmwVYaBsPoBk